<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <h1>Blog page</h1>
</head>
<body>
<b>{{name}}</b>
<br>
<hr>
{{body}}
<hr>
<br>
-by {{author}}
<br>
<hr>
<b>Comments</b>
<!-- <form id="comments form" submit="/blogs/:id/comments" method="post"> -->

</form>
</body>
</html>
